{% extends "account/base.html" %}

{% block head %}
{{block.super}}
<title>用户登陆</title>
{% endblock %}

{% block baseinfo %}
<label>今天是{{date}}</label>
{% endblock %}

{% block body %} 
<h1 class="col-md-offset-8">登陆</h1>

<form method = 'post' enctype="multipart/form-data">
<div class="col-md-offset-8">
	<p></p>
	<div class="input-group">
		<span class="input-group-addon addonsize"><i class="icon-user icon-large"></i></span>
		<input id="id_username" class="form-control inputreg" type="text" name="username" maxlength=15 placeholder="姓名">
	</div>
	<p></p>
	<div class="input-group">
		<span class="input-group-addon addonsize"><i class="icon-lock icon-large" ></i></span>
		<input id="id_password" class="form-control inputreg" type="password" name="password" maxlength=15 placeholder="密码">
	</div>
	
	
	<p></p>
    <p></p>
	<div class="form-actions">
		<button class="btn btn-large btn-primary" type="submit">登录</button>
	</div>
</div>	
</form>

<p></p><i class="col-md-offset-8">没有账号？立即</i><a href="/account/register/">注册</a>

{% endblock %}
